<h2><%= @post.title %></h2>
<p><%= @post.body %></p>


<h3>Comments</h3>

<ul>
<% @post.comments.each do |comment| %>
    <li>
      <%= comment.posted_by %> -
      <%= comment.body %>
    </li>
<% end %>
</ul>

<h3>Add Comment</h3>

<form action="/posts/<%= @post.id %>/comments" method="post">
  <label for="posted_by">Author</label>
  <input type="text" name="posted_by">
  <label for="body">Body</label>
  <input type="text" name="body">
  <input type ="submit" value="Add Comment">
</form>

<br>

<a href="/posts">Back</a>
