<h2>All Posts</h2>

<h4 style="color:green;"><%= flash[:notice] %></h4>

<h4><a href="/posts/new">Create Post</a></h4>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><a href="/posts/<%= post.id %>">Show</a></td>
      <td><a href="/posts/<%= post.id %>/edit">Edit</a></td>
      <td>
        <form action="/posts/<%= post.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Destroy" onclick="return confirmation();">
        </form>
      </td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate @posts %></p>

<a href="/statistics">Statistics</a> |
<a href="/settings">Settings</a>

<script>
  function confirmation(){
    return window.confirm("Are you sure?");
  }
</script>
