<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<table>
  <tr>
    <th>Up</th>
    <th>Down</th>
    <th>---</th>
    <th>---</th>
  </tr>
  <tr>
    <td><%= @post.votes_up %></td>
    <td><%= @post.votes_down %></td>
    <td>
      <form action="/rate_post/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="_vote_type" value="up">
        <input type ="submit" value="Vote Up">
      </form>
    </td>
    <td>
      <form action="/rate_post/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="_vote_type" value="down">
        <input type ="submit" value="Vote Down">
      </form>
    </td>
  </tr>
</table>

<h4>Categories:</h4>
<ul>
<% @post.categories.each do |category| %>
  <li><a href='/category/<%= category.name %>'><%= category.name %></a></li>
<% end %>
</ul>

<h4 style="color:green;"><%= flash[:notice] %></h4>
<ul>
<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |err| %>
    <li style="color:red;"><%= err %></li>
  <% end %>
<% end %>
</ul>

<h3>Comments</h3>

<% if @post.comments.empty? %>
  No comments
<% else %>
  <table>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th>Destroy</th>
    </tr>
  <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.author %></td>
        <td><%= comment.body %></td>
        <td>
          <form action="/posts/<%= @post.id %>/comments/<%= comment.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type ="submit" value="Destroy" onclick="return confirmation();">
          </form>
        </td>
      </tr>
  <% end %>
  </table>
<% end %>


<h3>Add Comment</h3>

<form action="/posts/<%= @post.id %>/comments" method="post">
  <label for="author">Author</label>
  <input type="text" name="author" required >
  <label for="body">Body</label>
  <input type="text" name="body" required >
  <input type ="submit" value="Add Comment">
</form>


<script>
  function confirmation(){
    return window.confirm("Are you sure?");
  }
</script>
